.kool1{
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
}
.logoHovered{
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}


.font-display {
    font-family: Clash Display, sans-serif;
  }

  .text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

/* .kool2{
    color: black;
    font-size: 11px;
    font-weight: 300;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s, transform 0.4s; 
   
} */
.logo{
  margin: auto;
  position: relative;
  bottom: 300px;
}


/***************************************************************************************
LANDING PAGE 
***************************************************************************************/

.landing__logo__container {
  display: flex;
  /* background-color: #000; */
}
.character {
  height: 108px;
}



/***************************************************************************************
SPONSORS PAGE 
***************************************************************************************/

.showcase__card__picture__sponsors {
  width: 100%;
  height: 80%;
  backdrop-filter: blur(24px);
  border-radius: 24px;
  box-shadow: 0 0 24px 0px #f3f5ff;
  transition: all .1s ease-in-out;
  text-align: center;
  border: 1px solid #e6ecff;
}

.showcase__card__picture__sponsors:hover {
  box-shadow: 0 0 48px 0px #d9e2ff;
  border: 1px solid #e6ecff;
}

.partial-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.partial-image-sponsors {
  width: 50%;
  height: 100%;
  object-fit: contain;
}

/***************************************************************************************
THEME PAGE 
***************************************************************************************/
.t-circle{
  width: 50%;
  background-color: blue;
  
}
.lottie{
  margin: auto;
  height: 10vh; 
  margin-top: 5vh;
}
.lottie-text{
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 2rem;
  
}
.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 10px 10px 0 0 #7430b0;
  border: 1px solid black;
  border-radius: 2rem;
  margin: 40px 0;
  transition: all 0.2s;
  backdrop-filter: blur(24px);
}
.card:hover {
  transform: translate(10px, 10px);
  box-shadow: none;
}
.card>img {
  height: 200px;
  object-fit: cover;
}
.cont {
  padding: 0 20px;
}

.prize{
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 1.4rem 3rem rgba(160, 160, 160, 0.3);
}
.prize-content{
  display: block;
 
}
.blast{
  position: absolute;
  z-index: -100;
}
.blastright{
  position: absolute;
  right: 300px;
  z-index: -100;
}
.blastleft{
  position: absolute;
  left: 80px;
  z-index: -100;
}
@media only screen and (max-width: 1076px) {
  .pz3{
    margin-top: 400px;
  }
}
@media only screen and (max-width: 767px) {
 .pz2{
  margin-top: 400px;
 }
 .pz3{
  margin-top: 800px;
 }
}
.speakers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
}
.column {
  width: 100%;
  padding: 0.5em 0;
}
.speaker img{
  width: 100%;
  border-radius: 50%;
}
.speaker{
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
  margin-top: 30px;
}
.speaker .img-container{
  width: 8em;
  height: 8em;
  background-color: #a993ff;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.speaker h3 {
  font-weight: 500;
}
.speaker p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.speaker:hover{
  background: linear-gradient(#6045ea, #8567f7);
  color: #ffffff;
  transition: colors 0.3s;
}
.speaker:hover .img-container{
  transform: scale(1.15);
}
.speaker a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .speaker {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}
.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.leFadeInLeft span { animation-name: leFadeInLeft }
@keyframes leFadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-60px);
  }
  to { opacity: 1 }
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.pz1{
  animation: lefttoright 2s forwards ;
  animation-delay: 0.5s;
}
.pz2{
  animation: toptobottom 2s forwards ;
  animation-delay: 0.5s;
}
.pz3{
  animation: righttoleft 2s forwards ;
  animation-delay: 0.5s;
}
@keyframes lefttoright {
  0%{
    transform: translate(-600px,-600px);
  }
 
  100%{
    transform: translateX(0px);
  }
}
@keyframes toptobottom {
  0%{
    transform: translate(0px,-600px);
  }
 
  100%{
    transform: translateX(0px);
  }
}
@keyframes righttoleft {
  0%{
    transform: translate(600px,-600px);
  }
 
  100%{
    transform: translateX(0px);
  }
}
.firework{
  position: absolute;
  transform: translate(-30px,-100px);
  display: none;
  z-index: -1;
}
.prize{
  
  padding: 30px;
  margin-bottom: 60px;
  transition: 0.8s;
}
.prize:hover{
 
  transform: scale(1.4);
  scale: 1.1;
}
.prize:hover .firework{
  display: block;
 
}


.teamcard{
  
  display: inline-block;
  opacity: 0.9 ;
  border-radius: 20px;
  z-index: 99;
  width: 320px; 
  height: 320px;
  
}
.teamcard .teamimage{
   overflow: hidden;
    width: inherit;
    border-radius: 10px;
   
}
.teamimage img{
  border-radius: 10px;
  width: inherit;
  overflow: hidden;
  transition: 1s;
}
.teamcard:hover  .teamimage img{
  border-radius: 10px;
  box-shadow: 0 1.4rem 3rem rgba(160, 160, 160, 0.3);
  width: inherit;
  overflow: hidden;
     scale: 1.4;
     filter: blur(50);
  -webkit-filter: blur(8px);

}
.team-content{
  position: absolute;
  width: inherit;
  height: inherit;
  color: white;
  font-weight: 900;
  font-size: 1.8rem;
  transform: translateY(-200px);
  display: none;
}
.team-content h3{
  
  margin-top: -10px;
}
.teamcard:hover .team-content{
  text-align: center;
  display: block;
}
.teamicons {
 
  margin: auto;
  padding: 10px;
  width: 280px;
  display: flex;
  justify-content: space-between;
}
.teamicons li{
  list-style: none;
  cursor: pointer;
}

@media only screen and (max-width: 270px) {
  .teamcard{
    width: 200px; 
    height: 200px; 
  }
}
@media only screen and (max-width: 1076px) {
  .team3{
    margin-top: 400px;
  }
}
@media only screen and (max-width: 700px) {
  .team2{
    margin-top: 200px;
  }
}
.page ul{
  width: 100%;
}
/* .team4{
  margin-top: 7rem;
}
.team5{
  margin-top: 14rem;
}
.team6{
  margin-top: 21rem;
} */
.grid__item .example__card{
   margin: auto;
}
@media only screen and (max-width: 370px) {
  .teamcard{
    width: 240px; 
    height: 240px; 
  }
  .team2{
    margin-top: 100px;
  }
  .team3{
    margin-top: 200px;
  }
}